/* ===== Variables ===== */

:root {
  --deep-dark-color: #111;
  --main-dark-color: #222;
  --main-semi-color: #555;
  --main-light-color: #eee;
  --contrast-color: #ffff00;
  --main-font: 'Lato', sans-serif;
  --main-box-shadow: 10px 20px 25px var(--deep-dark-color);
}

/* ==== Keyframes ==== */

@keyframes photo_movement {
  0% {transform: translateY(0);}
  50% {transform: translateY(3px);}
  75% {transform: translateY(0);}
}

@keyframes skills_desc {
  0% {z-index: 5}
  25% {z-index: 4}
  50% {z-index: 3}
  100% {z-index: 2}
}

@keyframes skills_img {
  0% {background-color: var(--main-dark-color);}
  25% {background-color: var(--main-semi-color);}
  100% {background-color: var(--main-semi-color);}
}

/* ==== General ==== */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  background-repeat: no-repeat;
  background-image: radial-gradient(ellipse farthest-corner, var(--main-light-color), var(--main-semi-color),  var(--main-dark-color));
}

header, .skills, .portfolio, .contact, footer {
  margin: 0 auto;
  max-width: 1200px;
  margin-bottom: 80px;
}

.skills_container, .portfolio_container, .contact_container, .footer_container {
  margin: 0 auto;
  width: 90%;
  background-color: var(--main-dark-color);
  box-shadow: var(--main-box-shadow);
}

/* === Header === */

header {
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
}

/* == Navigation == */

.burger {
  display: none;
}

nav {
  margin: 20px 0;
  width: 90%;
}

.navigation_list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
  -ms-grid-column-align: center;
      justify-items: center;
}

.navigation_list li {
  display: inline-block;
  letter-spacing: 1px;
  margin: 15px 25px;
  position: relative;
  font-weight: 700;
  text-align: center;
  background-color: var(--main-dark-color);
  transition: background-color 0.25s ease-in-out;
}

.navigation_list li:hover {
  background-color: var(--main-light-color);
}

.navigation_list a {
  min-width: 110px;
  text-decoration: none;
  font-size: 18px;
  color: var(--main-light-color);
  line-height: 25px;
  display: inline-block;

}

.navigation_list li:hover a {
  color: var(--deep_dark_color);
}

.navigation_list li:before, .navigation_list li:after {
  border-color: var(--main-light-color);
  transition: all 0.5s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 14px;
  position: absolute;
  width: 14px;
  z-index: -1;
}

.navigation_list li:before {
  border-left-width: 2px;
  border-top-width: 2px;
  left: -7px;
  top: -7px;
}

.navigation_list li:after {
  border-bottom-width: 2px;
  border-right-width: 2px;
  bottom: -7px;
  right: -7px;
}

.navigation_list li:hover:before, .navigation_list li:hover:after {
  height: 25px;
  width: 60px;
  border-color: var(--contrast-color);
}

/* == Welcome Container == */

.welcome {
  width: 90%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
  background-color: var(--main-dark-color);
  box-shadow: var(--main-box-shadow);
}

 /* = Photo Container =*/

.photo_container {
  display: -ms-flexbox;
  display: flex;
  width: 330px;
  -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
  position: relative;
  margin-bottom: 90px;
  margin-top: 30px;
}

.photo_item {
  width: 30px;
  height: 350px;
  position: relative;
  box-shadow: 0 0 2px var(--main-light-color);
  animation-name: photo_movement;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transition: filter 0.4s ease-out;
}

.photo_item:nth-child(1) {
  background-image: url('/img/photo2.jpg');
  background-position: 0px -50px;
  top: 50px;
  animation-delay: 0.5s;
}

.photo_item:nth-child(2) {
  background-image: url('/img/photo3.jpg');
  background-position: 0px -10px;
  top: 10px;
  animation-delay: -2s;
}

.photo_item:nth-child(3) {
  background-image: url('/img/photo4.jpg');
  background-position: 0px -20px;
  top: 20px;
  animation-delay: -1s;
}

.photo_item:nth-child(4) {
  background-image: url('/img/photo5.jpg');
  background-position: 0px -30px;
  top: 30px;
  animation-delay: -4s;
}

.photo_item:nth-child(5) {
  background-image: url('/img/photo6.jpg');
  background-position: 0px 0px;
  animation-delay: -0.5s;
}

.photo_item:nth-child(6) {
  background-image: url('/img/photo7.jpg');
  background-position: 0px -25px;
  top: 25px;
  animation-delay: -2.5s;
}

.photo_item:nth-child(7) {
  background-image: url('/img/photo8.jpg');
  background-position: 0px -60px;
  top: 60px;
  animation-delay: -3.5s;
}

.photo_item:nth-child(8) {
  background-image: url('/img/photo9.jpg');
  background-position: 0px -50px;
  top: 50px;
  animation-delay: -1.5s;
}

.photo_item:nth-child(9) {
  background-image: url('/img/photo10.jpg');
  background-position: 0px -5px;
  top: 5px;
  animation-delay: -2.25s;
}

.photo_item:hover {
  box-shadow: 0 0 4px var(--contrast-color);
  filter: contrast(1.3);
}

/* = Welcome text = */

.welcome_text {
  width: 45%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
  font-weight: 400;
  color: var(--main-light-color);
  overflow: hidden;
  text-align: center;
}

.welcome_text h1 {
  font-size: 4rem;
  letter-spacing: 2px;
  height: 30%;
}

.welcome_text h2 {
  font-size: 3rem;
  height: 20%;
  letter-spacing: 1px;
}

.welcome_text h3 {
  font-size: 2rem;
  height: 15%;
  letter-spacing: 1px;
}

.social {
  height: 10%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 40px;
  display: block;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.3rem;
}

.social p {
  padding: 10px;
}

.social a {
  color: var(--main-light-color);
  padding: 10px;
  font-size: 1.3rem;
}

.social a:hover {
  color: var(--contrast-color);
}

/* === Skills === */

.skills_container {
  width: 90%;
  background-color: var(--main-dark-color);
  box-shadow: var(--main-box-shadow);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.skills h3 {
  font-size: 2rem;
  color: var(--main-light-color);
  margin: 30px;
}

/* == Skills image section == */

.skills_img {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 70%;
  background-color: var(--main-semi-color);
  position: relative;
}

.skill_html, .skill_css, .skill_js, .skill_react {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 23%;
  height: 280px;
  background-color: var(--main-semi-color);
  animation-name: skills_img;
  animation-duration: 24s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.skill_css {
  animation-delay: 6s;
  background-image: url('/img/css3.png');
}

.skill_js {
  animation-delay: 12s;
  background-image: url('/img/js.png');
}

.skill_react {
  animation-delay: 18s;
  background-image: url('/img/react.png');
}

.skill_html {
  background-image: url('/img/html5.png');
}

/* == Skills description section == */

.skills_description {
  display: inline-block;
  min-height: 120px;
  position: relative;
}

.html_desc, .css_desc, .js_desc, .react_desc  {
  color: var(--main-light-color);
  font-size: 1.3rem;
  letter-spacing: 1px;
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  padding: 35px 20px;
  background-color: var(--main-dark-color);
  animation-name: skills_desc;
  animation-duration: 24s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
  z-index: 1;
}

.css_desc {
  animation-delay: 6s;
}

.js_desc {
  animation-delay: 12s;
}

.react_desc {
  animation-delay: 18s;
}

/* === Portfolio === */

.portfolio_container {
  min-height: 500px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.portfolio_container h3 {
  display: inline-block;
  font-size: 2rem;
  color: var(--main-light-color);
  margin: 30px;
}

/* == Portfolio images == */

.portfolio_imgs {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
}

.portfolio_item {
  width: 40%;
  display: inline-block;
  height: auto;
  position: relative;
  margin-bottom: 50px;
  transition: 0.5s;
  box-shadow: var(--main-box-shadow);
}

.portfolio_item img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

.portfolio_item:hover {
  filter: contrast(1.15);
}

/* == Portfolio details == */

.portfolio_details {
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0;
  transform-style: preserve-3d;
  perspective: 600px;
  transition: 0.5s;
  opacity: 0;
}

.portfolio_item:hover .portfolio_details {
  opacity: 1;
}

.details_front, .details_back {
  position: absolute;
  color: var(--main-light-color);
  background-color: var(--main-semi-color);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: rotateX(0deg);
  transition: 0.5s;
}

.portfolio_details:hover .details_front {
  transform: rotateX(-180deg);
}

.details_back {
  transform: rotateX(180deg);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
  -ms-flex-align: center;
      align-items: center;
}

.portfolio_details:hover .details_back {
  transform: rotateX(0deg);
}

.details_front p {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.details_back p {
  font-size: 1rem;
  width: 80%;
  text-align: center;
}

.details_back a > i {
  color: var(--main-light-color);
  font-size: 2rem;
  transition: 0.5s;
}

.details_back a > i:hover {
  color: var(--contrast-color)
}

/* === Contact === */

.contact_container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 0;
}

.contact_data, .contact_form {
  width: 400px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  color: var(--main-light-color);
  text-align: center;
  margin: 20px 0;
}

.contact_data:hover, .contact_form:hover {
  box-shadow: var(--main-box-shadow);
}

.contact_data > div {
  margin-bottom: 10px;
}

.contact_desc {
  -ms-flex: 3;
      flex: 3;
}

.contact_data h3, .contact_data h4, .contact_form h3 {
  margin: 20px 0 10px 0;
  font-size: 1.25rem;
  letter-spacing: 1px;
}

.contact_data p {
  font-size: 0.8rem;
}

.contact_address, .contact_phone, .contact_email {
 -ms-flex: 2;
     flex: 2;
}

.contact_form form {
  margin: 0 auto;
  margin-top: 10px;
  width: 90%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.contact_form input, .contact_form textarea {
  color: var(--main-light-color);
  font-family: var(--main-font);
  margin-bottom: 20px;
  font-size: 1rem;
  padding: 5px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid var(--main-light-color);
}

.contact_form input:-ms-input-placeholder, .contact_form textarea:-ms-input-placeholder {
  color: var(--main-light-color);
  font-size: 0.8rem;
  font-family: var(--main-font);
}

.contact_form input::placeholder, .contact_form textarea::placeholder {
  color: var(--main-light-color);
  font-size: 0.8rem;
  font-family: var(--main-font);
}

.contact_form textarea {
  line-height: 1.5rem;
  resize: none;
}

.contact_form textarea:-ms-input-placeholder {
  font-size: 0.8rem;
}

.contact_form textarea::placeholder {
  font-size: 0.8rem;
}

.contact_form input[type="submit"] {
  border: none;
  box-shadow: 3px 3px 8px var(--deep-dark-color);
  width: 200px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px 0;
}

.contact_form input[type="submit"]:hover {
  box-shadow: 3px 3px 8px var(--contrast-color);
}

.contact_form input[type="submit"]:active {
  box-sizing: border-box;
  padding: 8px 0 9px 0;
  border-top: 3px solid var(--deep-dark-color);
  border-left: 3px solid var(--deep-dark-color);
  box-shadow: 3px 3px 8px var(--main-light-color);
}

/* === Footer == */

footer {
  margin-bottom: 25px;
}

.footer_container {
  text-align: center;
  padding: 10px;
  color: var(--main-light-color);
  word-spacing: 4px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.footer_container img {
  width: 20px;
  margin-left: 10px;
}
